/* 
    Document   : style
    Created on : 18.okt.2013, 13:29:12
    Author     : Yngve
    Description:
        Purpose of the stylesheet follows.
*/

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
    margin: 0 auto;
}

/* GENERAL */

#header { 
    background-color: #3b5999;
    border-bottom: 1px solid black;
    color: white;
    width: 100%;
}

#header h3 {
    margin: 0 0 0 25px;
    padding: 3px 0 3px 0;
    border-right: 1px solid black;
    width: 180px;
}   

.glyphicon {
    margin-right: 5px;
}

/* SIDEBAR ACTION */

#sidebar {
	float:left;
	margin:0;
	width: 15%;
        border-right: 1px solid #ddd;
        min-height: 570px;
}

ul {
    margin-bottom: 0 !important;
}

#menu li:first-child {
    margin-top: 0;
}

#menu li {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: -1px;   
}

.nav-pills > li > a {
    color: #000;
}

#submenu > li > a {
    color: #000;
}

#submenu {
}

#submenu li {
    border: none;
    margin-left: 20px;
}

/* CONTENT */

.table {
    width: 25%;
}

#team_tabs > li > a {
    color: #000;
}

#content {
    float:left;
    width: 85%;
    padding-left: 30px;
    min-height: 500px;
}

#content h2 {
    text-align: center;
}

#team_tabs {
    margin: 0 auto;
    width: 35%;
}

#team_content {
    margin: 0 auto;
}

#input_form {
    width: 220px;
}

/* FOOTER */

#footer {
    background-color: #3b5999;
    text-align: center;
    width: 100%;
    float: left;
    padding: 20px;
}

#footer li {
    list-style: none;
    padding: 10px;
    display: inline;
    font-size: 16px;
}

