/* 
    Document   : style
    Created on : 18.okt.2013, 13:29:12
    Author     : Yngve
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin: 0 auto;
}

/*************************************
**************************************
* HEADER
**************************************
*************************************/

.header { 
    background-color: #3b5999;
    border-bottom: 1px solid black;
    color: white;
    display: none;
}
  

/*************************************
**************************************
* LOGIN AND REGISTRATION
**************************************
*************************************/



/*************************************
**************************************
* GENERAL
**************************************
*************************************/

.glyphicon {
    margin-right: 5px;
}

/*************************************
**************************************
* NAVIGATION
**************************************
*************************************/


/*************************************
**************************************
* HOME
**************************************
*************************************/


/*************************************
**************************************
* TEAM
**************************************
*************************************/

#team_tabs > li > a {
    color: #000;
}

#team_content {
    margin: 0 auto;
    width: 100%;
}

#add_event_form {
    padding: 10px;
}

.input-group-addon > .glyphicon {
    top: 2px;
    left: 2px;
}

.radio-inline {
    margin-right: 5px;
    margin-bottom: 15px;
}

.event_field {
    width: 95%;
}

.event_field_half {
    width: 45%;
    float: left;
    margin: 0 25px 15px 0;

}

.bfh-datepicker {
    position: relative;
    width: 45%;
    display: inline-block;
}

.form-inline p {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover {
    background: none;
}

.datetimepicker thead tr:first-child th, .datetimepicker tfoot tr:first-child th {
    cursor: default;
}

.btn .caret {
    margin-left: 5px;
}

/*************************************
**************************************
* PROFILE
**************************************
*************************************/


/*************************************
**************************************
* CALENDAR
**************************************
*************************************/

.noshow {
    display: hidden!important;
}

.event panel-body  {
    padding: 5px;
}


.panel-heading {
    padding: 5px 15px;
}

.panel-body {
    padding: 5px 15px;
}  

/*************************************
**************************************
* STATISTICS
**************************************
*************************************/

#daterange {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    color: #333333;
    padding: 8px;
    line-height: 18px;
    cursor: pointer;
    border-top: 1px solid #ddd;
}

/*************************************
**************************************
* ERROR HANDLING
**************************************
*************************************/

.alert-error {
    float: left;
    line-height: 12px;
    margin: 0 0 0 10px;
}
.controls {
    height: 30px;
}
.controls > input {
    float: left;
}

.alert-error > p {
    margin: 0;
}

#role {
    float: left;
}

.help-inline {
    float: left;
}

.success {
        display: none;
        color: #468847;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        position: absolute;
        top: 50px;
        padding: 5px;
        left: 50%;  
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        z-index: 1050;
}

.success > p {
    margin: 10px;
    font-weight: bold;
}


#success .glyphicon {
    margin-right: 10px;
}

p.nomargin {
    margin: 0;
}

.editeventsubmit {
    width: 116px;
}

/*************************************
**************************************
* FOOTER
**************************************
*************************************/

#footer {
    background-color: #3b5999;
    text-align: center;
    float: left;
    padding: 20px;
}

#footer li {
    list-style: none;
    padding: 10px;
    display: inline;
    font-size: 16px;
}



