/* 
    Document   : style
    Created on : 18.okt.2013, 13:29:12
    Author     : Yngve
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin: 0 auto;
}

/*************************************
**************************************
* HEADER
**************************************
*************************************/

#header { 
    background-color: #3b5999;
    border-bottom: 1px solid black;
    color: white;
    width: 100%;
}

#header h3 {
    margin: 0 0 0 25px;
    padding: 3px 0 3px 0;
    border-right: 1px solid black;
    width: 180px;
}   

/*************************************
**************************************
* LOGIN
**************************************
*************************************/



/*************************************
**************************************
* GENERAL
**************************************
*************************************/

.glyphicon {
    margin-right: 5px;
}

/*************************************
**************************************
* SIDEBAR
**************************************
*************************************/

#sidebar {
	float:left;
	margin:0;
	width: 15%;
        border-right: 1px solid #ddd;
        min-height: 700px;
}

ul {
    margin-bottom: 0 !important;
}


#menu li {
    border-top: 1px solid #ddd;
    margin-top: -1px;   
}
#menu li:first-child {
    margin-top: 0;
    border-bottom: 1px solid #ddd;
}

#menu li:last-child {
    border-bottom: 1px solid #ddd;
}

#submenu li:first-child {
    border-bottom: none;
}

.nav-pills > li > a {
    color: #000;
}

#submenu > li > a {
    color: #000;
}

#submenu {
}

#submenu li {
    border: none;
    margin-left: 20px;
}

/*************************************
**************************************
* HOME
**************************************
*************************************/

ul.team_menu {
    text-align: center;
    margin: 40px 0 30px 0;
    list-style-type: none;
}

.team_menu > li {
    display: inline;
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px;
    
} 

.team_menu > li:hover {
    background-color: #cacaca;
}

.team_menu > li > a:hover {
    text-decoration: none;
    color: #428bca;
}

/*************************************
**************************************
* TEAM
**************************************
*************************************/

#content {
    float:left;
    width: 85%;
    padding-left: 30px;
    min-height: 500px;
}

#content h2 {
    text-align: center;
}

#content h4 {
    text-align: center;
}

#team_tabs {
    margin: 0 auto;
    width: 40%;
}

#team_tabs > li > a {
    color: #000;
}

#team_content {
    margin: 0 auto;
    width: 100%;
}

#manage_squad {
    margin: 0 auto;
    width:40%;
}

#edit {
    margin: 0 auto;
    width: 40%;
}

#add_event_form {
    padding: 10px;
}

.input-group-addon > .glyphicon {
    top: 2px;
    left: 2px;
}

.radio-inline {
    margin-right: 5px;
    margin-bottom: 15px;
}

.event_field {
    width: 95%;
}

.event_field_half {
    width: 45%;
    float: left;
    margin: 0 25px 15px 0;

}

.bfh-datepicker {
    position: relative;
    width: 45%;
    display: inline-block;
}

.form-inline p {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover {
    background: none;
}

.datetimepicker thead tr:first-child th, .datetimepicker tfoot tr:first-child th {
    cursor: default;
}

/*************************************
**************************************
* PROFILE
**************************************
*************************************/

#profile {
    float: left;
    width: 100%;
    color: #6b6b6b;
    min-height: 400px;
}

#profile h3 {
    margin-top: 10px;
}

#profile h5 {
    text-align: left;
}

#profile h2 {
    text-align: left;
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

#profile img {
    max-width: 150px; 
    height: auto;
}

#profile_image {
    float: left;
    padding: 10px 10px 50px 10px;
    margin: 10px 20px 20px 20px;
    background: #ddd;
    border-radius: 5px;
    width: 17%;
    max-height: 210px;
}

#profile_image a {
    width: 150px;
    margin-top: 4px;
}

#profile_personalia {
    margin: 10px 0 10px 10px;
    float: left;
    width: 30%;
}

#profile_personalia .nav-tabs {
    border: none;
}

#profile ul {
    list-style: none;
    padding-left: 15px;
}

#profile ul > li {
    margin-bottom: 10px;
}

#password .form-horizontal .control-label {
    text-align: left;
    width: 230px;
}

#personal .form-horizontal .control-label {
    text-align: left;
    width: 125px;
}

#info-content {
    padding: 5px 0 0 20px;
}

#search {
    margin: 20px 0 30px 0;
}

#search_player {
    margin-bottom: 10px;
}



/*************************************
**************************************
* CALENDAR
**************************************
*************************************/

#calendar {
    float: left;
}

.fc {
    margin-top: -30px;
    width: 50%;
    float: left;
    /*height: 50px !important;*/
}

#event-info{
    float: left;
    width: 750px;
    display:none;
}

.tablespan {
    width: 700px;
    height: 500px;
    overflow: hidden;
}
    
#attendance_test_tables > table {
    width: 200px;
    float: left;
}

.overlay {
    position: fixed;
    z-index: 10;
    background: black;
    display: block;
    opacity: .75;
    filter: alpha(opacity=75);
    width: 100%;
    height: 100%;
}

#event-details {
    width: 400px;
}

#boxes-inline {
    width: 400px;
    
}
.time {
    width: 120px;
    float: left;
    margin: 5px 10px 10px 0;
}

.loc {
    width: 250px;
    margin: 5px 10px 10px 0;
    float: left;
}

.desc {
    width: 380px;
    margin-right: 0;
    float: left;
}
.noshow {
    display: hidden!important;
}

.event panel-body  {
    padding: 5px;
}


.panel-heading {
    padding: 5px 15px;
}

.panel-body {
    padding: 5px 15px;
}  

/*************************************
**************************************
* STATISTICS
**************************************
*************************************/

#stats {
    width: 500px;
}

#daterange {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    color: #333333;
    padding: 8px;
    line-height: 18px;
    cursor: pointer;
    border-top: 1px solid #ddd;
}

/*************************************
**************************************
* ERROR HANDLING
**************************************
*************************************/

.alert-error {
    float: left;
    line-height: 12px;
    margin: 0 0 0 10px;
}
.controls {
    height: 30px;
}
.controls > input {
    float: left;
}

.alert-error > p {
    margin: 0;
}

#role {
    float: left;
}

.help-inline {
    float: left;
}

.success {
        display: none;
        color: #468847;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        position: absolute;
        top: 50px;
        padding: 5px;
        left: 50%;  
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        z-index: 1050;
}

.success > p {
    margin: 10px;
    font-weight: bold;
}


#success .glyphicon {
    margin-right: 10px;
}

p.nomargin {
    margin: 0;
}

#editeventsubmit {
    width: 116px;
}

/*************************************
**************************************
* FOOTER
**************************************
*************************************/

#footer {
    background-color: #3b5999;
    text-align: center;
    width: 100%;
    float: left;
    padding: 20px;
}

#footer li {
    list-style: none;
    padding: 10px;
    display: inline;
    font-size: 16px;
}



